name: Build ZMK User Configuration

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main

  draw:
    needs: build
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    permissions:
      contents: write
    with:
      keymap_patterns: "config/corne.keymap"
      config_path: "keymap-drawer/config.yaml"
      output_folder: "keymap-drawer"
      parse_args: ""
      draw_args: ""
